@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --green: #019267;
  --light-white: #b5b5b5;
}

body {
  background: rgba(190, 215, 220, 0.6509803922);
}

html::-webkit-scrollbar {
  padding: 0 2px;
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #6d72f4;
  border-radius: 5rem;
}

.main {
  margin-left: 150px;
  padding: 25px 18px;
  height: 100vh;
}
@media (max-width: 767px) {
  .main {
    height: auto;
    margin: 0;
    margin-bottom: 150px;
  }
}

select {
  border-right: 16px solid transparent;
}

input:focus-visible {
  outline: none !important;
}