.dash {
  position: relative;
  .right {
    display: block;
    @media (max-width: 767px) {
      display: none;
    }
  }

  .car-card {
    display: flex;
    gap: 10px;
    width: 350px;
    padding: 15px;
    background: #6d72f470;
    border-radius: 25px;
    .car-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 83px;
      // height: 200px;
      rotate: 90deg;
    }
    h2 {
      width: 240px;
      text-align: center;
      font-size: 26px;
      font-weight: 500;
      line-height: 40.14px;
    }
  }
}

.info-card {
  box-shadow: -5px 16px 20px 0px #010f41a1;
  height: 192px;
}
tspan {
  fill: #fff !important;

  color: #53757f57;
}
#notifications {
  position: absolute;
  right: 150px;
  top: -22px;
  z-index: 10;
  transition: 0.3s ease, transform 0.3s ease;
  @media (max-width: 767px) {
    margin-top: 0;
    top: 110px;
    left: 150px;
  }
  border: none !important;
  .notifi-inner {
    //position: fixed;

    transition: 0.3s ease, transform 0.3s ease;
    width: 20rem;
    height: calc(47.5vh);
    overflow-y: hidden;
    // padding: 15px 0;
    border: none !important;
    @media (max-width: 767px) {
      //height: calc(100vh - 20vh);
      width: 20rem;
    }
    .mydate {
      position: relative;

      transition: 0.3s ease, transform 0.3s ease;
      &::after {
        position: absolute;
        width: 12px;
        height: 12px;
        content: "";
        background-color: #6d72f4;

        left: -14px;
        top: 3px;
        border-radius: 50%;
      }
    }
  }
  .notifi-bg {
    background-color: #f8f8f8;
    border: none !important;

    transition: 0.3s ease, transform 0.3s ease;
  }
  #messages {
    margin-top: 25px;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    height: calc(55.5vh - 6rem);
    //  visibility: hidden;
    overflow-y: scroll;
    padding-right: 12px;
    // margin: 15px 0;

    &::-webkit-scrollbar {
      padding: 0 2px;
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6d72f4;
      border-radius: 5rem;
    }
  }

  @keyframes fadeIn {
    50% {
      visibility: hidden;
    }
    60% {
      visibility: visible;
      opacity: 0.5;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
}
.right-data {
  .chartLine-inner {
    height: 870px;
    overflow: hidden;

    @media (max-width: 786px) {
      height: 450px;
    }
  }
  .VictoryContainer,
  .line-chart-container {
    height: 650px;
    @media (max-width: 786px) {
      height: 400px;
    }
    @media (max-width: 1400px) {
      scale: 1 !important;
    }
  }
  .line-chart-container {
    //  scale: 0.71;
  }
  .VictoryContainer {
    // scale: 2;

    svg {
      @media (min-width: 1024px) {
        scale: 2.1;

        bottom: -180px;
        width: 100%;
        position: absolute;
      }
    }
  }
}
