.TopCar {
  @media (min-width: 1024px) {
    height: 486px;
    .car-h {
      height: 406px !important;
    }
  }
  img {
    scale: 0.9;
  }
  .car-name {
    position: absolute;
    @media (max-width: 600px) {
      font-size: 0.75rem;
    }
  }
  .car-shape {
    width: 350px;
    @media (max-width: 767px) {
      width: 90%;
      height: auto;
    }
  }
  .car-0 {
    top: 16%;
    left: 0;
  }
  .car-1 {
    left: 0;
    bottom: 16%;
  }
  .car-2 {
    top: 16%;
    right: 0;
  }
  .car-3 {
    right: 0;
    bottom: 16%;
  }
}
.order-chart {
  tspan {
    font-size: 6px !important;
  }
  line[y1="140"][style*="stroke: rgb(236, 239, 241)"] {
    display: none;
  }
  line[x1="50"][x2="380"] {
    stroke-dasharray: none !important;
  }
}
.table-contain {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 0.3rem;
    padding: 0 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f9ca42;
    border-radius: 5rem;
  }
}
th {
  color: #f9ca42;
  background-color: #f9ca4229;
  padding: 8px 20px;
  min-width: 250px;
}
.b-left {
  border-top-left-radius: 10px;
}
.b-right {
  border-top-right-radius: 10px;
}
td {
  background-color: #000000ab;
  padding: 8px 20px;
  min-width: 250px;
}
